# IntelliJ
.idea/
*.iml

# macOS system files
.DS_Store

# Build output
/out/
/target/
/build/

# Gradle / Maven
.gradle/
/mvnw
/mvnw.cmd

# Logs
*.log
logs/

# Java class files
*.class

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*
replay_pid*
