spring:
  datasource:
    url: jdbc:mysql://localhost:${MYSQL_PORT:3307}/${MYSQL_DATABASE}?useSSL=false&serverTimezone=UTC&characterEncoding=utf8&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC

  redis:
    host: localhost
    port: ${REDIS_PORT}

server:
  servlet:
    encoding:
      charset: UTF-8
      force: true

solapi:
  api-key: ${SOLAPI_API_KEY}
  api-secret: ${SOLAPI_API_SECRET}
  from-number: ${SOLAPI_FROM_NUMBER}
